{% extends 'inv/base.html' %} {% load static %} {% block body %}
<h3 class="text-center m-4">
    <i class="fa-solid fa-user fa-lg me-3"></i>Committe Creation
</h3>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Select Committe Member
                and Chairman
            </div>
            <div class="card-body"></div>
        </div>
    </div>
</div>
{% endblock %}