{% extends 'inv/base.html' %} {% load static %} 
{% block title  %} Student Login {% endblock %}
{% block body %}
<h3 class="text-center m-4"><i class="fa-solid fa-right-to-bracket fa-lg me-2"></i>Login Student</h3>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <i class="fa-solid fa-right-to-bracket fa-lg me-2"></i>Student Login
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Login</button>
          {% if error %}
          <li style="color: red;">{{error}}</li>
          {% endif %}
          
          <p class="mt-2">
            Don't have an Account ?
            <span>
              <a href="{% url 'stu_register' %}" class="btn btn-danger ms-1"
                >Register
              </a>
            </span>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
